@import '.././variables.scss';

.button {
  padding: 0.5rem 1rem;
  border-radius: 0.2rem;
  border: 2px solid $black;
  font-size: 0.6rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: $black;
  transition: 0.3s;

  &--active,
  &:hover {
    color: #fff;
    background-color: $black;
  }
}
