.input,
.textarea {
  width: 100%;
  padding: 8px 10px;
  border: 1px solid #ccc;
  border-radius: 0.2rem;
  color: #888;
  outline: none;

  &:focus {
    border: 1px solid $black;
  }
}

.textarea {
  max-width: 100%;
}
