.about {
  height: calc(100vh - 100px);
  background-image: url(../../assets/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  text-align: center;

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
  }

  &__subtitle,
  &__title,
  &__info {
    color: #fff;
  }

  &__subtitle {
    margin-bottom: 0.4rem;
    font-size: 1rem;
    font-style: italic;
  }

  &__title {
    margin-bottom: 2rem;
    font-size: 2.5rem;
  }

  &__info {
    font-size: 1.5rem;
  }
}
