.header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 100px;
  padding: 0 5rem;
  border-bottom: 1px solid #000;

  &__logo {
    width: 70px;
    height: 70px;
    margin-right: 1.5rem;
    background-image: url(../../assets/logo.png);
    background-repeat: no-repeat;
    background-size: contain;
    transition: 0.3s;

    &:hover {
      transform: translateY(-2px);
    }
  }

  &__name {
    font-size: 2rem;
  }

  &__nav {
    display: flex;
    margin-left: auto;

    &-item {
      margin-left: 1rem;
    }
  }
}
