@import './variables.scss';

@import './blocks/header.scss';
@import './blocks/about.scss';
@import './blocks/subscribe.scss';
@import './blocks/feedback.scss';
@import './blocks/note.scss';
@import './blocks/footer.scss';

@import './components/button.scss';
@import './components/input.scss';
@import './components/preview.scss';

:root {
  font-size: 16px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  font-family: sans-serif;
  color: $black;
}

a {
  text-decoration: none;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.content {
  flex: 1 0 auto;
}

.footer {
  flex: 0 0 auto;
}

.container {
  width: 1220px;
  max-width: 100%;
  margin: 0 auto;
  padding: 0 50px;
}

.title {
  margin-bottom: 1.5rem;
  margin-top: 2rem;
  font-size: 2rem;
}
